 /* .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .form {
    max-width: 500px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  .form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form input,
  .form select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .form select {
    margin-bottom: 20px;
  }
  
  .form input[type="date"] {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: white;
    padding: 10px;
  }
  
  .form input[type="submit"] {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  */



 /* .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .form {
    max-width: 500px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  
  .form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form input,
  .form select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .form select {
    margin-bottom: 20px;
  }
  
  .form input[type="date"] {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: white;
    padding: 10px;
  }
  
  .form input[type="submit"] {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
   */